.form-control.wd-border-round {
  border-radius: 50px;
}

.wd-inline-display {
  display: inline-block;
}

.btn.wd-border-round {
  border-radius: 50px;
}

.wd-image {
  height: 100px;
  width: 100px;
}

.wd-image-logo {
  border-radius: 50%;
}

.wd-float-right {
  float: right;
}

.wd-container {
  display: flex;
  align-items: center;
}

.wd-width-75 {
  width: 75%;
}

.wd-width-25 {
  width: 25%;
}

.wd-width-100 {
  width: 100%;
}

.wd-width-90 {
  width: 90%;
}

.wd-width-10 {
  width: 10%;
}

.wd-bold-text {
  font-weight: bold;
}

.wd-gray {
  color: gray;
}

.wd-white {
  color: white;
}

.wd-pos-relative-up {
  position: relative;
  bottom: 50px;
}

.wd-pos-relative-right {
  position: relative;
  left: 10px;
}

.wd-circular-image {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.wd-15-white-bold-text {
  font-size: 15px;
  color: white;
  font-family: Arial;
  font-weight: bold;
}

.wd-15-white-text {
  font-size: 15px;
  color: white;
  font-family: Arial;
}

.wd-15-gray-text {
  font-size: 15px;
  color: rgb(110, 118, 125);
  font-family: Arial;
}

.wd-max-width {
  max-width: 506px;
}

.wd-rounded-corners-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.wd-rounded-corners-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wd-large-image {
  width: 504px;
  height: 264px;
}

.wd-max-width-470 {
  width: 470px;
}

.wd-padding-all {
  padding: 12px;
}

.wd-red {
  color: red;
}

.wd-grid-row {
  clear: both;
}

.wd-grid-col-fourth-page {
  width: 25%;
  float: left;
}

.wd-right-padding {
  padding-right: 12px;
}