.wd-bg-black {
  background-color: black;
}

.wd-white {
  color: white;
}

.wd-gray {
  color: rgb(47, 51, 54);
}

.wd-margin-top-bottom {
  margin-top: 12px;
  margin-bottom: 12px;
}

.wd-margin-top {
  margin-top: 12px;
}

.wd-margin-left-right {
  margin-left: 16px;
  margin-right: 16px;
}

.wd-border-top-bottom {
  border-top: 1px solid rgb(47, 51, 54);
  border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-border-left-right {
  border-left: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
}

.wd-border-round {
  border-style: solid;
  border-color: rgb(47, 51, 54);
  border-radius: 50px;
}

.wd-width-10 {
  width: 10%;
}

.wd-width-90 {
  width: 90%;
}

.wd-float-left {
  float: left;
}

.wd-float-right {
  float: right;
}

.wd-float-done {
  clear: both;
}

.wd-small-gray-text {
  font-size: 13px;
  color: rgb(110, 118, 125);
  font-family: Arial;
}

.wd-white-bold-text {
  color: white;
  font-family: Arial;
  font-weight: 900;
}

.wd-display-inline {
  display:inline;
}

.wd-tag {
  font-size: 13px;
  color: rgb(110, 118, 125);
  font-family: Arial;
  position: absolute;
  right: 50px;
}

.wd-title {
  font-size: 20px;
  font-family: Arial;
  color: white;
}

.wd-no-text-decoration {
  text-decoration: none;
}

.wd-search-field {
  width: 80%;
  height: 30px;
  margin: 16px;
  color: white;
  background-color: rgb(47, 51, 54);
}

.wd-gear-button {
  margin-right: 16px;
  color: rgb(29, 161, 242);
  text-decoration: none;
}

.wd-tab {
  color: rgb(110, 118, 125);
  font-size: 15px;
  padding: 16px;
  font-family: Arial;
  font-weight: bold;
}

.wd-tab-active {
  color: rgb(29, 161, 242);
  border-bottom: solid rgb(29, 161, 242);
  padding: 16px 0px;
  margin: 0px 16px;
}

.wd-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  right: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.wd-circular-image {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.wd-15-white-bold-text {
  font-size: 15px;
  color: white;
  font-family: Arial;
  font-weight: bold;
}

.wd-15-white-text {
  font-size: 15px;
  color: white;
  font-family: Arial;
}

.wd-15-gray-text {
  font-size: 15px;
  color: rgb(110, 118, 125);
  font-family: Arial;
}

.wd-max-width {
  max-width: 506px;
}

.wd-width-90 {
  width: 90%;
}

.wd-rounded-corners-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.wd-rounded-corners-bottom {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wd-large-image {
  width: 90%;
  height: 264px;
}

.wd-max-width-470 {
  width: 470px;
}

.wd-padding-all {
  padding: 12px;
}

.wd-red {
  color: red;
}

.wd-grid-row {
  clear: both;
}

.wd-grid-col-fourth-page {
  width: 25%;
  float: left;
}

.wd-right-padding {
  padding-right: 12px;
}