.wd-bg-black {
  background-color: black;
}

.wd-white {
  color: white;
}

.wd-gray {
  color: rgb(47, 51, 54);
}

.wd-margin-top-bottom {
  margin-top: 12px;
  margin-bottom: 12px;
}

.wd-margin-top {
  margin-top: 12px;
}

.wd-margin-left-right {
  margin-left: 16px;
  margin-right: 16px;
}

.wd-border-top-bottom {
  border-top: 1px solid rgb(47, 51, 54);
  border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-border-left-right {
  border-left: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
}

.wd-border-round {
  border-style: solid;
  border-color: rgb(47, 51, 54);
  border-radius: 50px;
}

.wd-float-left {
  float: left;
}

.wd-float-right {
  float: right;
}

.wd-float-done {
  clear: both;
}

.wd-small-gray-text {
  font-size: 13px;
  color: rgb(110, 118, 125);
  font-family: Arial;
}

.wd-white-bold-text {
  color: white;
  font-family: Arial;
  font-weight: 900;
}

.wd-display-inline {
  display:inline;
}

.wd-tag {
  font-size: 13px;
  color: rgb(110, 118, 125);
  font-family: Arial;
  position: absolute;
  right: 50px;
}

.wd-title {
  font-size: 20px;
  font-family: Arial;
  color: white;
}

.wd-no-text-decoration {
  text-decoration: none;
}